.icon-container11-icon-container {
  position: relative;
}
.icon-container11-icon {
  fill: var(--dl-color-gray-black);
  width: 16px;
  height: 16px;
}
.icon-container11-icon2 {
  fill: var(--dl-color-gray-black);
  width: 16px;
  height: 16px;
  display: none;
}




